# pyinstaller #
##########################
*__pycache__*
/build/*
/dist/*
*.spec

# pyqt5 #
######################
*.ui

# personal setting #
######################
/VM/bat/personalGitSetUp.bat
*Privates.py*